/* ## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-color: hsl(185, 75%, 39%);
}

.card-container {
  width: auto;
  gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
}

h1,
h2 {
  font-size: 18px;
  font-weight: 700;
}

span {
  margin-left: 10px;
  font-weight: 400;
}

span,
p,
.city {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.profile-container {
  text-align: center;
  height: 120px;
}

.profile-img {
  width: 108px;
  border: 5px solid #fff;
  border-radius: 100px;
  margin-top: -60px;
  margin-bottom: 16px;
}

.name {
  margin-bottom: 8px;
}

.city {
  font-size: 14px;
  margin-bottom: 31px;
}

.statistics-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px 20px 20px 20px;
  border-top: 1px solid hsl(0, 7%, 89%);
  margin-top: 20px;
  margin-bottom: 10px;
}

.followers,
.likes,
.photos {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
}

.statistics-container p {
  font-size: 10px;
  letter-spacing: 2px;
}
